.header{
    background-color: white;
    text-align: center;
    
}
.header div div{
    margin-top:auto;
    display: flex;
}
.header div div p{
    margin-left: 20px;
}
.header div div i{
    padding-top: 6px;
}
.header div div p {
    padding-top: 6px;
    font-weight: bold;
}
.nav{
    color:white
}
.welcome{
    background-image: url("../image/solution-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
   
}
     
.welcome::before{
    content: "";
    background-image: rgba(109, 112, 107, 0.78);
}
.welcome div h4{
    display: block;
    padding-bottom: 20px;
    color:azure
}
.welcome div button{
   color:azure
    
}
.welcome div p{
    color:white
}
.car  img{
    padding: 4px;
}
.car div a{
    color:white;
    background-color: black;
}
.principal {
    background-color: rgba(75, 38, 64, 0.7);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px;
}

.principal div div h5 {
    padding-left: 30px;
    margin-top: 0px;
}
.principal div div p {
    padding-left: 30px;
}

.principal div div button {
    display: block;
    margin-left: 30px;
}
.home5 div h6{
   color: rgb(238, 34, 34);
   margin-top: 20px;
   text-align: center;
}
.home5 div div {
    display: flex;
    justify-content: space-around;
}
.home6 div{
    /* padding: 40px; */
    box-shadow: 20px   ;
    padding: 10px;
}
.home6 div .home6-1{
    border-radius: 10px;
    background-color: white;
    padding: 0px;
  
   
}
.home6-2 {
    height: 400px;
    padding: 0px;
    margin-top: 0px;
}


.home6 div .home6-1 div form div {
    margin: 10px;
    padding: 0px;
}

.home7 div div div{
    padding: 10px;
    border-radius: 10px;
    /* background-color: rgba(230, 130, 17,0.7); */
    margin: 30px;
}

.home7 div div div div {
    padding: 0px;
    margin: 0px; 
}

.home7 div div div .home7-1 i{
    font-size: 30px;
    color:rgb(46, 92, 243);
   
    
    
}

.home7 div div div .home7-1{
    display: flex;
    justify-content: space-around;
}
.home7 div div div .home7-2 div{
    display: flex;

}

.home8
{
    margin-left: 5px;
    height: 410px;
}
 li{
   
    margin-top: 10px;
    list-style: none;
  
    
 }
 li a{
    text-decoration: none;
 }

 .home8-3{
    margin-left: 15px;
 }

 .home8 h6{
    margin-top: 30px;
 }
 .form{
    margin-left: 30px;
    margin-right: 30px;
 }

 .Kindergarten{
    display: inline-block;
    /* display: flex; */
     justify-content: center;
 }